@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white/80 dark:bg-gray-800/80 backdrop-blur-lg rounded-xl shadow-lg;
  }
}

.CircularProgressbar-path {
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar-trail {
  stroke: #d1d5db;
}

.CircularProgressbar-text {
  font-weight: 600;
}